@charset"utf-8";
.demo {
	width: 100%;
	height: 600px;
	font-size: 14px;
	position:relative;
}
.demo a.control {
	position:absolute;
	display: block;
	top: 50%;
	margin-top: -78px;
	width: 76px;
	height: 112px;
	cursor: pointer;
	z-index: 2;background: url(../images/buttons.png) no-repeat
}
.demo a.prev {
	left: 5%;
	background-position: 0 0
}
.demo a.next {
	right: 5%;
	background-position: -76px 0
}
.demo a.prev:hover {
	background-position: 0 -112px
}
.demo a.next:hover {
	background-position: -76px -112px
}
.slider {
	display: none
}
